*{
    background: #F9FCFC;
}

#first-layout{
    display: flex;
}

.welcome{
    width: 100vh;
    margin-left: 47%;
    margin-right: 47%;
    margin-top: 64px;

    font-family: 'Roboto' sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}

.image-section{
    background-image: url(https://i.postimg.cc/R0SVYTJG/bgimg1.png);
    background-repeat: no-repeat;
    position: left;
    width: 30%;
    margin: 100px;
    height: 90vh;
}

.text-area .we-are{
    width: 100%;
    justify-content: center;
    margin-left: 170px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Roboto' sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.footer h1 {
    display: inline-block;
    position: relative;
  }
  
.footer h1:after {
    content: "";
    height: 3px;
    width: 20%;
    background-color: #D89616;
    position: absolute;
    bottom: -5px;
    left: 4%;
    transform: translate(50%);
  }


.body{
    width: 550px;
    height: 200px;
    left: 551px;
    top: 301px;
    margin-left: 70px;
    margin-top: 150px;
    position: absolute;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #0D0C0C;
}


.form-container{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20px;
    margin-bottom: 20%;
    height: 95vh;
    width: 60%;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
}

.contact{
    font-family: Roboto;
    font-size: 50px;
    font-weight: lighter;
    font-style: normal;
    font-weight: 1000;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 70px;
    background-color: white;
    border-radius: 10px;   
}
 .input-box{
     background-color: white;
     padding: 20px;
 }

 .input-box [type = text],
 .input-box [for = name]{
     background-color: white;
     margin-left: 50px;
     font-family: 'Roboto' sans-serif;
 }

 .input-box [type = text]{
     width: 620px;
     height: 30px;
 }

 .text-area-section{
    height: 40px;
    width: 620px;
 }
 
 .textarea-section{
    background-color: white;
    margin-left: 70px;
    font-family: 'Roboto' sans-serif;
}

.textarea-section label,
.textarea-section {
    background-color: white;
}

.textarea-section textarea {
    height: 150px;
    width: 620px;
    background-color: white;
}

button{
    background: rgba(0, 77, 230, 0.76);
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 62.5%;
    color: white;
}
